NEXT_PUBLIC_DASHBOARD_API_URL=/api/dashboard
# DASHBOARD_SOURCE_JSON_URL=https://sua-url-json
# GOOGLE_SHEETS_XLSX_URL=https://docs.google.com/spreadsheets/d/<SHEET_ID>/export?format=xlsx
# SPREADSHEET_FILE_PATH=/Users/johncintra/Downloads/Dash Comparativo (1).xlsx
